services:
  postgres:
    image: postgres:14.5
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=MiL152M9LBfiLqRO
      - POSTGRES_DB=documo_db
    ports:
      - '5434:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Optionally, add pgAdmin for database management
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin
    ports:
      - '5050:80'
    depends_on:
      - postgres

volumes:
  postgres_data:
